body {
  margin: 0; }

.btn {
  display: inline-block;
  padding: 2px 5px;
  font-size: 0.8em;
  background: #eee;
  border: 1px solid #ccc;
  text-decoration: none;
  border-radius: 3px;
  color: inherit; }
  .btn:hover {
    color: inherit;
    box-shadow: 1px 1px 1px #000; }
  .btn:active {
    box-shadow: -1px -1px 1px #000; }
  .btn:visited {
    color: inherit; }

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999; }
  .header__to-main {
    color: inherit; }
    .header__to-main:hover {
      color: #999; }
    .header__to-main:active {
      color: #555; }
  .header__name {
    display: inline-block;
    margin-left: 10px; }
  .header__login {
    flex-grow: 1;
    text-align: right; }

.wrapper {
  padding: 0 15px; }

.articles-list {
  margin-bottom: 15px; }
  .articles-list__pd {
    padding: 0 15px; }

.error {
  border: 2px solid red; }

.modal {
  position: relative;
  display: none; }
  .modal__blackout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3); }
  .modal__content {
    border: 2px solid #777;
    position: fixed;
    left: calc(50% - 150px);
    top: 200px;
    width: 300px;
    background: #fff;
    z-index: 10;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    font-family: monospace; }
  .modal__text {
    margin: 10px 0; }
  .modal__btn {
    width: 50px;
    margin: 10px; }

.form-item {
  margin-bottom: 5px; }

.last-modified {
  font-style: italic;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #000;
  font-size: 12px; }

.article-form {
  max-width: 600px; }
  .article-form__name {
    width: 100%; }
  .article-form__content {
    width: 100%;
    min-height: 200px; }
  .article-form__error-msg {
    color: #f00; }
  .article-form__btn {
    margin-top: 5px; }

.article-btns {
  display: inline-block;
  padding-top: 10px; }

/*# sourceMappingURL=style.css.map */
