body {
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 2px 5px;
  font-size: 0.8em;
  background: #eee;
  border: 1px solid #ccc;
  text-decoration: none;
  border-radius: 3px;
  color: inherit;
  &:hover {
    color: inherit;
    box-shadow: 1px 1px 1px #000;
  }
  &:active {
    box-shadow: -1px -1px 1px #000;
  }
  &:visited {
    color: inherit;
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
  &__to-main {
    color: inherit;
    &:hover {
      color: #999;
    }
    &:active {
      color: #555;
    }
  }
  &__name {
    display: inline-block;
    margin-left: 10px;
  }
  &__login {
    flex-grow: 1;
    text-align: right;
  }
}

.wrapper {
  padding: 0 15px;
}

.articles-list {
  margin-bottom: 15px;
  &__pd {
    padding: 0 15px;

  }
}

.error {
  border: 2px solid red;
}

.modal {
  position: relative;
  display: none;
  &__blackout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
  }
  &__content {
    border: 2px solid #777;
    position: fixed;
    left: calc(50% - 150px);
    top: 200px;
    width: 300px;
    background: #fff;
    z-index: 10;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    font-family: monospace;

  }
  &__text {
    margin: 10px 0;
  }
  &__btn {
    width: 50px;
    margin: 10px;
  }
}

.form-item {
  margin-bottom: 5px;
}

.last-modified {
  font-style: italic;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #000;
  font-size: 12px;
}

.article-form {
  max-width: 600px;
  &__name {
    width: 100%;
  }
  &__content {
    width: 100%;
    min-height: 200px;
  }
  &__error-msg {
    color: #f00;
  }
  &__btn {
    margin-top: 5px;
  }
}

.article-btns {
  display: inline-block;
  padding-top: 10px;

}